/*----------------- 7. Headers ---------------------------------*/
.header-classic {
  background-color: #fff;
}
/* -------------------- Top Header --------------------*/

/*-------------------------------------------------------------------8. Navigations-------------------------------------------------------------------*/
/*-------------------- Navigation classic ---------------------*/
.navbar-classic {
  background-color: #fff;
  padding: 0;
  .logo-brand {
    min-width: 150px !important;
    max-height: 95px !important;
  }
}
.navbar-classic.navbar-light .navbar-nav .nav-link {
  color: #181825;

  padding: 12px 16px;
}
.navbar-classic .navbar-nav .nav-item {
}
.navbar-classic .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: bold;
  padding: 12px 10px;
  line-height: 20px;
  // border-bottom: 1px solid #fff;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover {
  color: $color-primary !important;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
  color: $color-primary !important;
}
.navbar-classic .dropdown-toggle::after {
  margin-top: 1px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: -2px;
  content: "\f107";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: $color-primary-blue;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  margin-right: 15px;
  font-size: 14px;
  float: right;
}
// .navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
//   border-bottom: 1px solid #f1f1f6;
//   border-radius: 0px;
// }
.navbar-brand {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: initial;
  line-height: inherit;
  white-space: nowrap;
  color: #181825;
  font-size: 24px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 12px 12px 12px 20px;
  margin: 18px 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
  display: inline-block;
  width: unset !important;
  padding: 6px 0px;
  clear: both;
  font-weight: bold;
  text-align: inherit;
  white-space: nowrap;
  background-color: #fff;
  border: 0;
  font-size: 14px;
  line-height: 15px;

  &:hover {
    color: $color-primary !important;
    background-color: #fff !important;
  }
  &:after {
    display: block;
    content: "";
    margin-top: 4px;
    border-bottom: solid 3px $color-primary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
.dropdown-item:focus .dropdown-toggle::after,
.dropdown-item:hover.dropdown-toggle::after {
  color: $color-primary;
}
.mega-dropdown__wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px 0px 12px;
}

@media screen and (max-width: 1200px) {
  .mega-dropdown__wrapper {
    max-width: 950px;
  }
}

.dropdown-item__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.menu-gallery {
  display: flex;
  margin-top: 20px;
  li {
    margin-right: 4px;
  }
}

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  .dropdown-submenu:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 17px;
  top: 25px;
}
.dropdown-submenu .dropdown-menu {
  top: 0px;
  left: 100%;
  margin-left: 13px;
  margin-right: 0.1rem;
}
.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.mega-dropdown {
  position: unset;
}
.mega-dropdown-menu {
  width: 100vw;
  position: absolute;
  top: 90px;
  left: calc(555px - 50vw) !important;
  margin: 15px 0px;
  ul {
    list-style: none;
  }
}

@media screen and (max-width: 1199px) {
  .mega-dropdown-menu {
    left: calc(465px - 50vw) !important;
  }
}

.nav-dropitem-arrow {
  position: relative;
  font-size: 12px;
  opacity: 0;
  padding-right: 10px;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
  padding: 17px 15px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  position: relative;
}

/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
// .navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
//   border-bottom: 1px solid #f1f1f6;
// }
// .navbar-classic
//   .navbar-collapse.show
//   .dropdown
//   .dropdown-menu
//   .dropdown-submenu.dropdown-item {
//   border-bottom: 1px solid #f1f1f6;
// }
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
// .navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
//   border-bottom: 1px solid #f1f1f6;
// }
// .navbar-boxed
//   .navbar-collapse.show
//   .dropdown
//   .dropdown-menu
//   .dropdown-submenu.dropdown-item {
//   border-bottom: 1px solid #f1f1f6;
// }
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
// .navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
//   border-bottom: 1px solid #495bfb;
// }
// .navbar-transparent
//   .navbar-collapse.show
//   .dropdown
//   .dropdown-menu
//   .dropdown-submenu.dropdown-item {
//   border-bottom: 1px solid #f1f1f6;
// }
.icon-bar {
  width: 21px;
  height: 3px;
  background-color: #3544ee;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}
.navbar-toggler:focus {
  outline: 0px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #3544ee;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #3544ee;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #3544ee;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #3544ee;
}
// Mobile
@media screen and (max-width: 992px) {
  .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mega-dropdown-menu {
    width: 100%;
    left: unset;
    li {
      padding: 0;
    }
  }
  .menu-gallery {
    display: none;
  }
  .mega-dropdown__wrapper ul {
    padding: 0;
    .dropdown-item__title {
      display: none;
    }
  }
}
