$color-primary: #ff4225;
$color-primary-blue: #2A3175;
$color-primary-gray: #676767;
$color-red: #ED1C27;
$color-black: black;
$color-white: #FFFF;
$color-blue:#1791e6;
$color-gray:#F5F5F5;


// BACKGROUND COLOR
.background-color-primary {
  background: $color-primary !important;
}

.background-color-primary-blue {
  background: $color-primary-blue !important;
}

.background-color-white {
  background: $color-white !important;
}

.background-color-gray {
  background: $color-gray !important;
}

// TEXT COLOR
.text-color-primary{
  color: $color-primary !important;
}

.text-color-black {
  color: $color-black !important;
}

.text-color-white {
  color: $color-white !important;
}

.text-color-primary-hover {
  color: $color-primary-blue !important;
  &:hover {
    color: $color-primary !important;
  }
}