.contact-us {
  padding: 60px 0 !important ;
  .contact-us-left {
    max-width: 90%;
    h2 {
      font-weight: 700 !important;
      margin-bottom: 40px;
    }
    .address {
      margin-bottom: 20px !important;
      h3 {
        font-size: 20px !important;
        font-weight: 700 !important;
      }
      p {
        color: black !important;
        margin-bottom: 5px !important;
      }
    }
  }
  .form-card {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

    .contact-message {
      span {
        color: $color-primary;
      }
    }
  }
}
