.contact-us-wrap {
  background-image: url('../static/assets/images/default/lienhe.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.contact-us {
  padding: 60px 0 !important ;

  @media (max-width: $sm-max-width) {
    padding: 25px 0 !important ;
  }
  .contact-us-left {
    @media screen and (min-width: 998px) {
      max-width: 90%;
      h2 {
        margin-bottom: 40px;
      }
    }
    h2 {
      font-weight: 700 !important;
      margin-bottom: 20px;
    }
    .address {
      margin-bottom: 20px !important;
      h4 {
        font-size: 18px !important;
        font-weight: 700 !important;
      }
      p {
        color: black !important;
        margin-bottom: 5px !important;
      }
    }
  }
  .form-card {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

    .contact-message {
      span {
        color: $color-primary;
      }
    }
  }
}
