// Home page4
.feature-category-product {
  position: relative;
  z-index: 2;
  @media (max-width: $md-max-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: $xs-max-width) {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    position: unset !important;
  }
}

.kd-photobox {
  border-radius: 5px;
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  margin: 0 15px;
  transition: 0.2s !important;
  box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: $xs-max-width) {
    margin: 0;

  }

  .phb-content {
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 30px 40px 35px 40px;
    transition: 0.3s ease-in-out;
    border: none;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    h5 {
      text-overflow: ellipsis !important;
      overflow: hidden;
      white-space: nowrap;
    }

    // p {
    //   display: -webkit-box;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   -webkit-line-clamp: 3;
    //   -webkit-box-orient: vertical;
    //   min-height: 60px;
    // }
  }

  .photobox-img img {
    width: 100%;
    height: auto;
    margin: 15px;
    max-width: calc(100% - 30px);
    margin-bottom: 0;
  }
}

.hr-title {
  hr {
    width: 90px;
    border-top: 2px solid $color-primary-blue;
  }
}

.information {
  .icon i {
    font-size: 50px;
    line-height: normal;
    color: $color-white;
  }

  @media (max-width: $md-max-width) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    .item-card {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }
}

.introduce {
  padding: 0px;
  img {
    object-fit: contain;
    @media (max-width: $md-max-width) {
      height: 443px;
    }
    @media (max-width: $xs-max-width) {
      height: 459px;
      object-fit: none;
    }
  }
  .bg-overlay {
    padding: 34px 0px;
    background-color: rgba(0, 0, 0, 0.56)
  }
}

.block-second {
  h2,
  h1,
  h3,
  h4 h5 {
    color: $color-white;
    font-weight: bold;
  }

  p {
    color: $color-white;
  }
}

@media (max-width: $md-max-width) {
  .title-block {
    text-align: center;
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 20px !important;
    }
  }
  .btn-block {
    text-align: center;
    display: block;
  }
}

.btn-block-mobile {
  text-align: center;
  display: none;
}

.img-block {
  display: block;
}
.img-block-mobile {
  display: none;
}

@media (max-width: $xs-max-width) {
  .img-block-mobile {
    display: block;
  }

  .img-block {
    display: none;
  }

  .btn-block {
    text-align: center;
    display: none;
  }

  .btn-block-mobile {
    text-align: center;
    display: block;
  }

  .about_section {
    padding-top: 0px !important;
  }

  .about_first {
    padding-bottom: 0px !important;
  }
}

.block-second {
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    color: $color-white !important;
  }
}

.list-product {
  margin-top: 3rem;
  @media (max-width: $sm-max-width) {
    margin-top: 1.5rem;
  }
}

.feature-category-product {
  .slick-prev:hover,
  .slick-next:hover {
    background-color: $color-primary !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: $color-primary-blue !important;
  }

  .slick-prev:hover:before,
  .slick-next:hover:before {
    color: $color-white !important;
  }
  .slick-next {
    right: -40px !important;
    height: 50px;
    width: 50px;
  }
  .slick-prev {
    left: -40px !important;
    height: 50px;
    width: 50px;
  }

  .slick-prev,
  .slick-next {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    // box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
    background-color: #fff;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }
  .slick-next::before {
    content: "\f125";
    font-family: "Ionicons";
    color: #333;
    opacity: 1;
    display: block;
    font-size: 22px;
  }

  .slick-prev::before {
    content: "\f124";
    font-family: "Ionicons";
    color: #333;
    opacity: 1;
    display: block;
    font-size: 22px;
  }
}


.text-content-blog {
  @media (max-width: $md-max-width) {
    font-size: 24px !important;
  }

  @media (max-width: $sm-max-width) {
    font-size: 16px !important;
  }
}