@import "mixins";
@import "clolors";
@import "fontsize";
@import "ckEditor";
@import "homepage";
@import "menu";
@import "product";
@import "recipe";

body {
  background: #ffffff none repeat scroll 0 0;
  color: #687188;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.banner_section:not(.full_screen) .carousel-item {
  height: 500px;
}

.banner_section:not(.full_screen) {
  height: unset;
}

.breadcrumb_section {
  padding: 100px 0;
}
.container-fluid-custom {
  @media (min-width: $xxl-min-width) {
    padding-left:250px !important;
    padding-right: 250px !important;
  }

  @media (min-width: $xl-min-width) {
    padding-left:200px !important;
    padding-right: 200px !important;
  }
}
.post_img_feature {
  width: 100px !important;
  height: 100px !important;;
}
