@import "mixins";
@import "clolors";
@import "fontsize";
@import "ckEditor";
@import "homepage";
@import "menu";
@import "product";
@import "recipe";
@import "intro";
@import "contactus";

body {
  background: #ffffff none repeat scroll 0 0;
  color: #687188;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
hr,
a {
  color: $color-primary-blue !important;
}

.banner_section:not(.full_screen) .carousel-item {
  height: 557px;
  @media (max-width: $xl-max-width) {
    height: 400px;
  }
  @media (max-width: $md-max-width) {
    height: 300px;
  }
  @media (max-width: $xs-max-width) {
    height: 146px;
  }
}

.banner_section:not(.full_screen) {
  height: unset;
}

.breadcrumb_section {
  padding: 100px 0;
}
.container-fluid-custom {
  @media (min-width: $xxl-min-width) {
    padding-left: 250px !important;
    padding-right: 250px !important;
  }

  @media (min-width: $xl-min-width) {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}
.post_img_feature {
  width: 100px !important;
  height: 100px !important;
}

.slick-prev,
.slick-next {
  @media (max-width: $sm-max-width) {
    display: none !important;
  }
}

.btn-dark::before {
  background: $color-primary;
}
.btn-dark {
  border: 1px solid $color-primary-blue;
}

.btn-dark:hover {
  background-color: transparent;
  border-color: $color-primary-blue;
  color: $color-primary-blue !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid $color-primary;
}
.image-gallery-icon:hover {
  color: $color-primary;
}

.tab-style4 .nav-tabs .nav-item a.active {
  border-color: $color-primary !important;
  color: $color-primary !important;
}

.trendy-title {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  color: #434242 !important;
  font-size: 1em !important;
}
.trendy-title-border {
  border-bottom: 2px solid $color-primary !important;
  padding: 10px 0 !important;
  font-size: 20px !important;
  @media (max-width: $sm-max-width) {
    font-size: 18px !important;
  }
}

.custom-title {
  @media (max-width: $sm-max-width) {
    text-align: center;
  }
}

.page_title_light .breadcrumb-item::before {
  color: $color-primary-blue;
}
