/* Page intro */

.intro {
  position: relative;
  background-image: url("../static//assets/images/default/gioithieu.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.container-wrap {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 125px 0 0;

  .main-content {
    max-width: 80%;

    @media (max-width: $xs-max-width) {
      max-width: 100%;
    }

    h2 {
      // color: white !important ;
      font-weight: 700;
      margin-bottom: 40px;
    }
    p {
      // color: white !important;
      font-size: 14px !important;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    .media-content img {
      max-width: calc(50vw);
    }
  }
}
.content-para {
  max-width: 45%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 40px 0;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .main-content {
    min-width: 90%;
  }
  .content-para {
    min-width: 80%;
  }
}

@media (max-width: $xs-max-width) {
  .content-para {
    min-width: 89%;
  }
}
