// ******************** //
// **** Header Top **** //
// ******************** //
.header-top-container {
  width: 100%;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.header-top {
  max-width: 1170px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid rgb(211, 211, 211);
  border-left: 1px solid rgb(211, 211, 211);
  .header-top-left,
  .header-top-right {
    display: inline-block;
    height: 40px;
    align-items: center;
    position: relative;
  }
  .header-top-left {
    border-right: 1px solid rgb(211, 211, 211);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    .header-top__icon:first-child {
      border-right: 1px solid rgb(211, 211, 211);
      i {
        padding: 12px 16px 0px 2px;
      }
    }
    .header-top__icon:last-child {
      i {
        padding: 12px 16px 0px 16px;
      }
    }
    .header-top__icon:hover > i {
      transform: translateY(-2px);
    }
  }
  .header-top-right {
    border-left: 1px solid rgb(211, 211, 211);

    li {
      padding-left: 15px;
    }
    li:first-child {
      border-right: 1px solid rgb(211, 211, 211);
    }
  }
}

// ************** //
// **** Menu **** //
// ************** //

.menu-container {
  background: white;
}

.menu {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: bold;
}

.menu a.logo {
  display: inline-block;
  padding: 5px;
  width: 19%;
  float: left;
}
.menu .logo img {
  max-width: 100%;
}
.menu-mobile {
  display: none;
  padding: 20px;
}
.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

.menu .mega-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
  clear: right;
}
.menu .mega-menu:before,
.menu .mega-menu:after {
  content: "";
  display: table;
}
.menu .mega-menu:after {
  clear: both;
}
.menu .mega-menu-item {
  float: left;
  background: white;
  padding: 20px 0;
  margin: 0;
}
.menu .mega-menu-item:hover > .sub-menu {
  display: block !important;
}

.menu .mega-menu-link {
  text-decoration: none;
  padding: 0.75em 0.75em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.menu .sub-menu {
  display: none;
  width: calc(100vw + 10px);
  background: white;
  padding: 20px calc(50vw - 565px);
  position: absolute;
  z-index: 99;
  left: calc(390px - 50vw);
  margin: 1.1em 0 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu .sub-menu:before,
.menu .sub-menu:after {
  content: "";
  display: table;
}
.menu .sub-menu:after {
  clear: both;
}
.menu .sub-menu .sub-menu-cate {
  margin: 0;
  list-style: none;
  width: 20%;
  background: none;
  float: left;

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__link {
    display: block;
    padding: 0;
    margin: 5px 0 0;
    list-style: none;
    box-sizing: border-box;
  }
  &__link:before,
  &__link:after {
    content: "";
    display: table;
  }

  &__link:after {
    clear: both;
  }

  &__link > li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

// .menu .sub-menu > li {
//   margin: 0;
//   padding-bottom: 0;
//   list-style: none;
//   width: 25%;
//   background: none;
//   float: left;
// }

.menu .sub-menu > li a {
  color: #777;
  padding: 0.2em 0;
  display: inline-block;
  &:hover {
    color: #03a9f4;
  }
  &:after {
    display: block;
    content: "";
    margin-top: 2px;
    border-bottom: solid 3px brown;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

// .menu .sub-menu > li > ul {
//   display: block;
//   padding: 0;
//   margin: 10px 0 0;
//   list-style: none;
//   box-sizing: border-box;
// }
// .menu .sub-menu > li > ul:before,
// .menu .sub-menu > li > ul:after {
//   content: "";
//   display: table;
// }
// .menu .sub-menu > li > ul:after {
//   clear: both;
// }
// .menu .sub-menu > li > ul > li {
//   float: left;
//   width: 100%;
//   padding: 10px 0;
//   margin: 0;
//   font-size: 0.8em;
// }
// .menu .sub-menu > li > ul > li a {
//   border: 0;
//   font-size: 14px;
// }
.sub-menu .sub-menu-gallery {
  width: 80%;
  float: right;
  margin-top: 30px;
}
.sub-menu .sub-menu-gallery ul {
  display: flex;
  list-style: none;
}
.sub-menu .sub-menu-gallery ul li {
  margin-right: 1%;
}

.menu .normal-sub {
  max-width: 150px;
  left: auto !important;
  padding: 10px 20px !important;
  transform: translateX(-30px) !important;
  text-align: center !important;
}
.menu .normal-sub > li {
  width: 100% !important;
}
.menu .normal-sub > li a {
  border: 0 !important;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 959px) {
  .header-top {
    display: none;
  }
  .menu-container {
    width: 100%;
  }
  .menu-container .menu {
    display: inline-block;
  }
  .menu-mobile {
    display: block;
    float: right;
    padding: 20px 20px 0;
  }
  // .menu-dropdown-icon:before {
  //   display: block;
  // }
  .menu .mega-menu {
    display: none;
    width: 100%;
  }
  .menu .mega-menu .mega-menu-item {
    width: 100%;
    float: none;
    display: block;
    padding: 0;
  }

  .menu .mega-menu .mega-menu-item .mega-menu-link {
    padding: 0.75em 1em;
    width: 100%;
    display: block;

    .fas {
      float: right !important ;
      margin-right: 0.25em;
    }
  }
  .menu .sub-menu {
    position: relative;
    padding: 0 40px;
    margin-top: 0;

    .sub-menu-gallery {
      display: none;
    }
  }
  .menu .normal-sub {
    width: 100% !important;
    transform: unset !important;
    text-align: unset !important;
    max-width: 100%;
    padding: 0 20px !important;
  }
  .menu .sub-menu .normal-sub {
    float: none;
    width: 100%;
    float: left;
    max-width: 100%;
    padding: 0 !important;

    // margin-top: 20px;
  }
  .menu .sub-menu-cate {
    width: 100% !important;
  }
  .menu .sub-menu > li:first-child {
    margin: 0;
  }
  .menu .sub-menu > li > ul {
    position: relative;
  }
  .menu .sub-menu > li > ul > li {
    float: none;
  }
  .menu .show-on-mobile {
    display: block !important;
  }
}

@media screen and (max-width: 1170px) {
  .menu .sub-menu {
    right: 0;
    left: unset;
    width: 100vw;
    padding: 20px 20px;
  }
}
// @media screen and (min-width: 943px) {
//   .menu .mega-menu-item:hover {
//     .sub-menu {
//       display: block !important;
//     }
//   }
// }
