@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.recipe {
  margin: 2em 0;
  padding: 0;
  color: #3b2300;
  font-family: "Josefin Sans", sans-serif;
}

.recipe-media {
  text-align: center;
  padding: 2em;

  img {
    max-width: 500px;
    max-height: 500px;
  }
}

.recipe-info-main {
  padding: 1em;
  text-align: left;

  .recipe-info-main-content {
    .page-title {
      font-size: 2.5em;
      letter-spacing: 0.625rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .recipe_content_information {
      div {
        margin-top: 1.5em;
      }
      h3 {
        font-weight: 600;
        font-size: 1.5em;
      }
      .recipe_content {
        margin-left: 2em;
        p {
          padding: 0.2em;
          margin-bottom: 10px !important;
        }
      }
    }
  }
}
